
   <div class="v">
    <nav style="background-color: rgb(255, 188, 5);">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <ul class="nav">
              <li class="nav-item" >
                <a class="nav-link" style="color:#3c0547;font-size: 22px; font-weight: bold;"
                 routerLink="/userdashboard/usercart">
                  Welcome {{username}}
                </a>
              </li>
              </ul>
          </div>        
          <div class="col-sm-4">
          </div>        
          <div class="col-sm-4">
              <ul class="nav justify-content-end" >
                <li class="nav-item" >
                  <a class="nav-link" style="color:#3c0547;font-size: 22px; font-weight: bold;"
                   routerLink="/userdashboard/allmodels">
                    All car models
                  </a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" style="color:#165baa;font-size: 22px; font-weight: bold;" (click)="cart()">
                    <i class="fa fa-shopping-cart"><sup>{{cartcount}}</sup></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " style="font-size: 22px; color: #aa1616; font-weight: bold;"
                      routerLinkActive="active" (click)="logout()"><i class="fa fa-sign-out" ></i></a>
                </li>
              </ul>
            </div> 

        </div>      
      </div> 
     </nav>  
         </div>
        

         


  <router-outlet></router-outlet>